html{
	font-size: 62.5%;
}
body {
	font-size: 1.5rem;
	color: #666666;
	cursor: pointer;
}
li{
	margin-bottom: 1.5rem;
}

.selected {
  background-color: rgba(64, 120, 203, 0.5);

}

.vider {
    display: none;
}